<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name ="ConnectionString"
         connectionString="Initial Catalog=NKCenturyHaoXuan;Server=LION\LION;Persist Security Info=False;User ID=sa;Password=123456"
         providerName="System.Data.SqlClient" />
    <add name ="MainConnection"
         connectionString="Initial Catalog=UFTData308495_001236;Server=LION\LION;Persist Security Info=False;User ID=sa;Password=123456"
         providerName="System.Data.SqlClient" />
    <add name ="PDAConnection"
         connectionString="Initial Catalog=UFTData722134_001237;Server=LION\LION;Persist Security Info=False;User ID=sa;Password=123456"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>